<div class="container">
  <h1>Welcome to our site!</h1>
  
  <br><br>
  
  <form action="/login" method="post">
    <h3>Sign In :</h3>
    <span>Email</span><br><input type="text" name="sign_in[email]">
    <br>
    <span>Password</span><br><input type="password" name="sign_in[password_hash]">
    <br>
    <input type="submit">
  </form>
  
  <br><br>
  
  <form action="/signup" method="post">
    <br>
    <h3>Or Sign Up!</h3>
    <span>Name</span><br><input type="text" name="sign_up[first_name]">
    <br>
    <span>Password</span><br><input type="password" name="sign_up[password_hash]">
    <br>
    <span>Email</span><br><input type="text" name="sign_up[email]">
    <br>
    <input type="submit">
  </form>

</div>
